* Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

* Importing uncleaned Data

In [2]:
uncleaned=pd.read_csv('uncleaned_DS_jobs.csv',low_memory=False)
uncleaned.head(5)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

# In the cleaned version the columns explanation are as follows,

* Job Title: Title of the job posting
* Salary Estimation: Salary range for that particular job
* Job Description: This contains the full description of that job
* Rating: Rating of that post
* Company: Name of company
* Location: Location of the company
* Headquarter: Location of the headquater
* Size: Total employee in that company
* Type of ownership: Describes the company type i.e non-profit/public/private farm etc
* Industry, Sector: Field applicant will work in
* Revenue: Total revenue of the company
* min_salary,max_salary,avg_salary: Refers to the minimum, maximum and average salary for that post
* job_state: State where the applicant will work
* same_state: Same state as headquarter or not(Boolean)
* company_age: Age of company
* python,excel,hadoop,spark,aws,tableau,big_data: Some most appeared skills in boolean columns form
* job_simp: Job type
* seniority: if job type is senior or not (Boolean)

In [3]:
uncleaned.drop('index',axis=1,inplace=True)
uncleaned.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
uncleaned.shape

(672, 14)

In [5]:
uncleaned.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

* check for duplicate rows and drop duplicate rows except 1st row

In [6]:
print(uncleaned[uncleaned.duplicated()].shape)
uncleaned[uncleaned.duplicated()]

(13, 14)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
135,Machine Learning Engineer,$90K-$109K (Glassdoor est.),Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte\n3.2,Remote,"San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
136,Senior Data Engineer,$90K-$109K (Glassdoor est.),Lendio is looking to fill a position for a Sen...,4.9,Lendio\n4.9,"Lehi, UT","Lehi, UT",201 to 500 employees,2011,Company - Private,Lending,Finance,$50 to $100 million (USD),-1
358,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
359,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
360,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
362,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
389,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
496,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
497,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
498,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
499,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
500,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1

In [7]:
uncleaned.drop_duplicates(inplace=True)

In [8]:
uncleaned.reset_index(inplace=True)
uncleaned.shape

(659, 15)

* Remove numbers from Company Name

In [9]:
uncleaned['Company Name']=uncleaned['Company Name'].apply(lambda x:x.split("\n")[0])

In [10]:
uncleaned['Salary Estimate'].value_counts()

$75K-$131K (Glassdoor est.)     32
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     28
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$110K-$163K (Glassdoor est.)    20
$79K-$147K (Glassdoor est.)     20
$145K-$225K(Employer est.)      20
$31K-$56K (Glassdoor est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
$122K-$146K (Glassdoor est.)    16
$95K-$119K (Glassdoor est.)     16
Name: Salary Estimate, dtype: int64

Here values are present in 2 formats:
* $79K-$131K (Glassdoor est.)
* $145K-$225K(Employer est.)

To convert from this format to 79-131,145-225

* Calculate min_salary,max_salary,avg_salary

In [11]:
len(uncleaned)

659

In [12]:
uncleaned['min_salary']=0
uncleaned['max_salary']=0
uncleaned['avg_salary']=0
for i in range(len(uncleaned)):
    try:
        uncleaned.loc[i,"min_salary"]=int(uncleaned['Salary Estimate'][i].split(" ")[0].split("-")[0].replace("$","").replace("K",""))
        uncleaned.loc[i,"max_salary"]=int(uncleaned['Salary Estimate'][i].split(" ")[0].split("-")[1].replace("$","").replace("K",""))
    except:
        uncleaned.loc[i,"min_salary"]=int(uncleaned['Salary Estimate'][i].split("(E")[0].split("-")[0].replace("$","").replace("K",""))
        uncleaned.loc[i,"max_salary"]=int(uncleaned['Salary Estimate'][i].split("(E")[0].split("-")[1].replace("$","").replace("K",""))
    finally:
        uncleaned.loc[i,"Salary Estimate"]=str(uncleaned.loc[i,"min_salary"])+"-"+str(uncleaned.loc[i,"max_salary"])
        uncleaned.loc[i,"avg_salary"]=np.mean([uncleaned.loc[i,"min_salary"],uncleaned.loc[i,"max_salary"]])

In [13]:
uncleaned.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0
2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0
3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0

* Extracting job_state from Location Column and replacing Full Names with appropriate state code and for Remote and Utah deleting the rows

In [14]:
uncleaned['Location'].apply(lambda x: x.split(",")[-1]).value_counts()

 CA              154
 VA               89
 MA               62
 NY               52
 MD               40
 IL               30
 DC               26
 TX               17
 WA               16
 OH               14
 PA               12
 MO               12
United States     11
 NJ               10
 CO               10
 NC                9
 GA                9
 TN                8
 FL                8
 OK                6
 WI                6
Remote             5
 IN                5
 MI                5
 CT                4
 AL                4
 MN                4
 AZ                4
 NE                3
 IA                3
 RI                2
New Jersey         2
 SC                2
 OR                2
 UT                2
Utah               2
 NH                2
 MS                1
 LA                1
 KS                1
Texas              1
 DE                1
California         1
 WV                1
Name: Location, dtype: int64

In [15]:
uncleaned['job_state']=uncleaned['Location'].apply(lambda x: x.split(",")[-1].strip())
uncleaned['job_state'].replace(['United States','Texas','California','New Jersey','Remote','Utah'],["US","TX","CA","NJ",np.nan,np.nan],inplace=True)
uncleaned.dropna(axis=0,inplace=True)
uncleaned.reset_index(inplace=True)

In [16]:
uncleaned['job_state'].value_counts()

CA    155
VA     89
MA     62
NY     52
MD     40
IL     30
DC     26
TX     18
WA     16
OH     14
NJ     12
PA     12
MO     12
US     11
CO     10
GA      9
NC      9
FL      8
TN      8
OK      6
WI      6
MI      5
IN      5
MN      4
AZ      4
AL      4
CT      4
NE      3
IA      3
RI      2
UT      2
SC      2
OR      2
NH      2
MS      1
LA      1
KS      1
DE      1
WV      1
Name: job_state, dtype: int64

In [17]:
uncleaned.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,job_state
0,0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,NY
1,1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,VA
2,2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,MA
3,3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,MA
4,4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,NY

* Comparing job_state and Headquaerters location

In [18]:
uncleaned['Headquarters1']=uncleaned['Headquarters'].apply(lambda x:x.split(",")[-1].strip())
uncleaned['same_state']=np.where(uncleaned['Headquarters1']==uncleaned['job_state'],1,0)
uncleaned.drop('Headquarters1',axis=1,inplace=True)

In [19]:
uncleaned.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,job_state,same_state
0,0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,...,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,NY,1
1,1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,...,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,VA,1
2,2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,...,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,MA,1
3,3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,...,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,MA,0
4,4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,...,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,NY,1

* Calculating company Age from Founded Year

In [20]:
uncleaned['Founded']=np.where(uncleaned['Founded']==-1,0,uncleaned['Founded'])
uncleaned['company_age']=2021-uncleaned['Founded']

In [21]:
uncleaned.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,job_state,same_state,company_age
0,0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,...,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,NY,1,28
1,1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,...,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,VA,1,53
2,2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,...,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,MA,1,40
3,3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,...,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,MA,0,21
4,4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,NY,1,23

In [22]:
uncleaned.Rating = np.where(uncleaned.Rating==-1.0,0,uncleaned.Rating)
uncleaned.sort_values(by='Rating', ascending=True)
uncleaned.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,job_state,same_state,company_age
0,0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,...,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,NY,1,28
1,1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,...,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,VA,1,53
2,2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,...,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,MA,1,40
3,3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,...,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,MA,0,21
4,4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,NY,1,23

* extracting key skills mentioned in the job description

In [23]:
uncleaned['Job Description'][0].split("\n\n")

['Description',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 'Duties & Responsibilities:',
 '• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\n• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\n• Works with multiple teams to support data collection, integration, and retention requirements based on business needs\n• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\n• Collaborates with business subject matter experts to select relevant sources of information\n• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\n• Develops expertise with Healthfirst datasets, data repositories, and data movement processes\n• Assists on projects/requests and may lead specific tasks within the project scope\n• Prepares and manipulates data for use in development of statistical models\n• Other duties as assigned',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement',
 ']]>']

In [24]:
uncleaned['python']=uncleaned['Job Description'].apply(lambda x: 1 if "python" in x.lower() else 0)
uncleaned['excel']=uncleaned['Job Description'].apply(lambda x: 1 if "excel" in x.lower() else 0)
uncleaned['hadoop']=uncleaned['Job Description'].apply(lambda x: 1 if "hadoop" in x.lower() else 0)
uncleaned['spark']=uncleaned['Job Description'].apply(lambda x: 1 if "spark" in x.lower() else 0)
uncleaned['aws']=uncleaned['Job Description'].apply(lambda x: 1 if "aws" in x.lower() else 0)
uncleaned['tableau']=uncleaned['Job Description'].apply(lambda x: 1 if "tableau" in x.lower() else 0)
uncleaned['big_data']=uncleaned['Job Description'].apply(lambda x: 1 if "big_data" in x.lower() else 0)

In [25]:
uncleaned.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data
0,0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,...,NY,1,28,0,0,0,0,1,0,0
1,1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,...,VA,1,53,0,0,1,0,0,0,0
2,2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,...,MA,1,40,1,1,0,0,1,0,0
3,3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,...,MA,0,21,1,1,0,0,1,0,0
4,4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,...,NY,1,23,1,1,0,0,0,0,0

* Simplifying Job Title

In [26]:
uncleaned['Job Title'].value_counts()[:100]

Data Scientist                                                        326
Data Engineer                                                          26
Senior Data Scientist                                                  19
Machine Learning Engineer                                              14
Data Analyst                                                           12
                                                                     ...
Enterprise Data Analyst (Enterprise Portfolio Management Office)        1
Vice President, Biometrics and Clinical Data Management                 1
Scientist/Research Associate-Metabolic Engineering                      1
Information Systems Engineering Specialist (Engineering Scientist)      1
Machine Learning Engineer, Sr.                                          1
Name: Job Title, Length: 100, dtype: int64

In [27]:
def seniority(job_title):
    job_title=job_title.lower()
    snr=['sr','senior','lead','principal','vp','vice president','director']
    for i in snr:
        if i in job_title:
            return "senior"
    if "jr" in job_title:
        return "junior"
    return "na"

In [28]:
uncleaned['Seniority']=uncleaned['Job Title'].apply(seniority)

In [29]:
uncleaned[uncleaned['Job Title']=='Vice President, Biometrics and Clinical Data Management']

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,Seniority
561,567,580,"Vice President, Biometrics and Clinical Data M...",138-158,"At Alector, our mission is to develop therapie...",4.8,Alector,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,...,1,8,0,1,0,0,1,0,0,senior

* Simplifying Job Title

In [30]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'vice president' in title.lower():
        return 'vp'
    else:
        return 'na'
uncleaned['job_simp']=uncleaned['Job Title'].apply(title_simplifier)

In [31]:
uncleaned.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,Seniority,job_simp
0,0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,...,28,0,0,0,0,1,0,0,senior,data scientist
1,1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,...,53,0,0,1,0,0,0,0,na,data scientist
2,2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,...,40,1,1,0,0,1,0,0,na,data scientist
3,3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,...,21,1,1,0,0,1,0,0,na,data scientist
4,4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,...,23,1,1,0,0,0,0,0,na,data scientist

* dropping columns like index, level_0, Founded, Competitors

In [32]:
uncleaned.drop(['level_0','index','Founded','Competitors'],axis=1,inplace=True)

In [33]:
uncleaned.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,Seniority,job_simp
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,28,0,0,0,0,1,0,0,senior,data scientist
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,53,0,0,1,0,0,0,0,na,data scientist
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,40,1,1,0,0,1,0,0,na,data scientist
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,21,1,1,0,0,1,0,0,na,data scientist
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,23,1,1,0,0,0,0,0,na,data scientist

In [34]:
uncleaned.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'min_salary', 'max_salary',
       'avg_salary', 'job_state', 'same_state', 'company_age', 'python',
       'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big_data', 'Seniority',
       'job_simp'],
      dtype='object')

* Export cleaned data to csv

In [35]:
uncleaned.to_csv('Cleaned_DS_Jobs.csv', index=False)